# ===============================================================
# [Clickhouse]
# ===============================================================
CLICKHOUSE_HOST=<string>
CLICKHOUSE_DB=<string>
CLICKHOUSE_USER=<string>
CLICKHOUSE_PASSWORD=<string>

# ===============================================================
# [Airlfow]
# ===============================================================
AIRFLOW_PROJ_DIR=../airflow
AIRFLOW_UID=501
_PIP_ADDITIONAL_REQUIREMENTS=pandas clickhouse-connect

# ===============================================================
# [Airlfow] - Admin panel
# ===============================================================
_AIRFLOW_WWW_USER_USERNAME=<string>
_AIRFLOW_WWW_USER_PASSWORD=<string>

# ===============================================================
# [Airlfow] - Postgresql
# ===============================================================
_AIRFLOW_DB_USER_USERNAME=<string>
_AIRFLOW_DB_USER_PASSWORD=<string>

# ===============================================================
# [Airlfow] - Redis
# ===============================================================
REDIS_PASSWORD=<string>

# ===============================================================
# [Metabase]
# ===============================================================
MB_POSTGRESQL_DB=<string>
MB_POSTGRES_USER=<string>
MB_POSTGRES_PASSWORD=<string>